.primary {
  color: #ff3c3c;
}

.bgPrimary {
  background-color: #ff3c3c;
}
.font-Montserrat {
  font-family: "Montserrat";
}
.font-Eczar {
  font-family: "Eczar";
}
.secondary {
  color: #b0b0b0;
}

.masthead {
  position: absolute;
  width: 100%;
  top: 0px;
  left: 0px;
}

.navbar-brand {
  color: white;
	width: 40px;
	height: 30px;
}

.readMore{
  padding: 0 .4rem 0 .4rem ;
}

.categoryArticle{
  font-size: 14px;
}

.subCategory{
	font-size: 13px;
}

.extraBold{
	font-weight: 800;
}

.miniBold{
	font-weight: 600;
}

input{
	background-image: url(assets/search%2024px%202.svg);
	background-repeat: no-repeat;
	position:absolute; 
	left: 20px; 
	bottom: auto;
}






